@(msg: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {
<div id="vue-items">
    <b-form @@submit="goNext">
        <b-button type="submit" class="btn-primary">Go Next Step</b-button>
    </b-form>
</div>
<script>
    axios.defaults.xsrfHeaderName = 'Csrf-Token'
    axios.defaults.xsrfCookieName = 'PLAY_CSRF_TOKEN'

    new Vue({
        el: "#vue-items",
        data: {
            items: [],
            user_id: 0,
            workflow_id: 0,
            workflow_step_id: 0
        },
        methods: {
            goNext: function() {
                var self = this
                var targetPath = '/workflow-engines/routes';
                var params = {
                    user_id: 0,
                    workflow_id: Number(self.workflow_id),
                    workflow_step_id: Number(self.workflow_step_id)
                }

                axios.post(targetPath, params, {}).then(function(response) {
                    window.location = response.data.path
                }).catch(function (error) {
                    console.log(error)
                })
            },
            search: function () {
                var self = this
                var targetPath = '/items/list';
                axios.get(targetPath, {}).then(function(response) {
                    self.items = response.data
                }).catch(function (error) {
                    console.log(error)
                })

                targetPath = '/workflow-engines/belong?user_id=' + self.user_id
                axios.get(targetPath, {}).then(function(response) {
                    console.log(response.data)
                    self.workflow_id = response.data.workflow_id
                    self.workflow_step_id = response.data.workflow_step_id
                }).catch(function (error) {
                    console.log(error)
                })
            }
        },
        created: function () {
            this.search()
        }
    });
</script>
}
