@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- Add this to <head> -->
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")"/>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-vue.min.css")"/>

        <!-- Add this after vue.js -->
        <script src="//unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap-vue.min.js")"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
