@(workflowId: String, workflowStepId: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {
    <p>@workflowId</p>
    <p>@workflowStepId</p>
<div id="vue-items">
    <b-form @@submit="goNext">
        <b-button type="submit" class="btn-outline-primary">Go Further Next Step</b-button>
    </b-form>
</div>
<script>
    var workflowId = "@workflowId"
    var workflowStepId = "@workflowStepId"

    axios.defaults.xsrfHeaderName = 'Csrf-Token'
    axios.defaults.xsrfCookieName = 'PLAY_CSRF_TOKEN'

    new Vue({
        el: "#vue-items",
        data: {
            orders: [],
            headers: {
                workflow_step_id: 0
            }
        },
        methods: {
            goNext: function() {
                var targetPath = '/workflow-engines/routes';
                var params = {
                    workflow_id: Number(workflowId),
                    workflow_step_id: Number(workflowStepId)
                }

                axios.post(targetPath, params, {}).then(function(response) {
                    window.location = response.data.path
                }).catch(function (error) {
                    console.log(error)
                })
            },
            search: function () {
                var self = this
                var targetPath = '/orders/list';
                axios.get(targetPath, {}).then(function(response) {
                    self.orders = response.data
                }).catch(function (error) {
                    console.log(error)
                })
            }
        },
        created: function () {
            this.search()
        }
    });
</script>
}
